<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="db_BookDocConnectionString" connectionString="Data Source=.;User ID=sa;Password=admin123;database=db_BookDoc;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="db_BookDocConnectionString1" connectionString="Data Source=.;User ID=sa;Password=admin123;database=db_BookDoc;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!-- <add name="db_BookDocConnectionString1" connectionString="Data Source=.;Initial Catalog=db_BookDoc;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <pages enableEventValidation="false" maintainScrollPositionOnPostBack="true"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>